<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>896029473801-a2qatqe6845k9372bn3188p9u27l5sg6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.896029473801-a2qatqe6845k9372bn3188p9u27l5sg6</string>
	<key>API_KEY</key>
	<string>AIzaSyCbgbPI7YBwj2B4Uw6bnQ5p56FZ87Czlck</string>
	<key>GCM_SENDER_ID</key>
	<string>896029473801</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.deets.cp</string>
	<key>PROJECT_ID</key>
	<string>deets-22032</string>
	<key>STORAGE_BUCKET</key>
	<string>deets-22032.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:896029473801:ios:f569321e2b4de30d</string>
	<key>DATABASE_URL</key>
	<string>https://deets-22032.firebaseio.com</string>
</dict>
</plist>